* {
	padding: 0;
	margin: 0;
}

body {
	font-family: tahoma,verdana,sans-serif;
}

/*header, aside, main, footer {
	border: 1px solid red;
	margin: 5px;
}*/

header {
	text-align: center;
	background: blue; 
}

header h1 {
	color: white;
}

aside#menu {
	position: fixed;
	float: left;
	width: 150px;
	margin: 5px;
	padding: 5px;
	background-color: #888888;
}

aside#menu a {
	color: white;
	text-decoration: none;
}

aside#menu ul {
	list-style-type: none;
}

aside#menu ul li {
	margin: 4px 0;
	padding: 2px 4px;
}
aside#menu a:hover {
	background: Cornflowerblue;
	border-radius: 3px;
}

main {
	margin: 0 230px 0px 170px;
}

main p {
	margin: 8px 0;
	color: #666666;
	line-height: 1.4em;
}

main h1, main h2 {
	font-weight: normal;
	border-bottom: 1px solid #888888;
}

main h1 {
	margin: 5px 0;
}

main h2 {
	margin: 12px 0 5px 0; 
}


footer {
	text-align: center;
	font-size: .8em;
	margin: 10px 0;
	padding: 10px;
	color: silver;
	width: 97.5%;
	bottom: 0;
	position: absolute;
}

footer a {
	text-decoration: none;
	color: gray;
}	

footer a:hover {
	border-bottom: 1px dotted;
}
